* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    body {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;
        background: hsl(212, 45%, 89%);
        font-family: 'Outfit', sans-serif;
        font-size: 15px;

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 240px;
            height: 380px;
            background: hsl(0, 0%, 100%);
            border-radius: 15px;
            box-shadow: 0 8px 10px hsl(212, 45%, 89%);

            img {
                position: relative;
                top: -20px;
                width: 218px;
                height: 218px;
                border-radius: 10px;
            }

            .text-main {
                position: relative;
                top: 2px;
                width: 190px;
                font-size: 1.1em;
                font-weight: 700;
                letter-spacing: 0.4px;
                word-wrap: break-word;
                color: hsl(218, 44%, 22%);
            }

            .description {
                position: relative;
                top: 2px;
                width: 180px;
                margin-top: 14px;
                font-weight: 400;
                text-align: center;
                font-size: 0.7em;
                word-wrap: break-word;
                color: hsl(220, 15%, 55%);
            }
        }
    }

    @media (max-width: 414px) {
        img {
            top: -40px;
        }
    }

}